{
    "title": "FEED LIST",
    "data": [
        {
            "team": "fuyu",
            "rss": "https://www.fuyufs.com/episode/feed",
            "anchor": {
                "tag": "a",
                "css_selector": {"data-key":"quality_720p_torrent"}
            }
        },
        {
            "team": "HorribleSubs",
            "rss": "https://nyaa.si/?page=rss&u=HorribleSubs",
            "anchor": false
        }
    ]
}